<!--
  Generated template for the SearchProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search projects</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-select name="musical_genre_id" id="musical_genre_id" (ionChange)="search($event)" placeholder="Select musical genre" full>
      <ion-option *ngFor="let musical_genre of musical_genres" value="{{musical_genre.id}}">{{musical_genre.name}}</ion-option>
    </ion-select>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="onItemClick(item.id)">
      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>
